* {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: linear-gradient(145deg, #a8edea 0%,  #fed6e3 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: relative;
    transform: scale(0.8,0.8);
    border-radius: 2% 3% 4%;
    border-bottom: 3px solid rgba(217, 217, 217,1);
    border-right: 3px solid rgba(217, 217, 217,1);
    border-left: 1px solid rgba(255, 255, 255,1);
    border-top: 1px solid  rgba(255, 255, 255,1);
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(5px);
}

.button {
    position: relative;
    width: 10vw;
    height: 10vw;
    left: 45vw;
    top: 5vw;
    border: none;
    background: inherit;
    border-radius: 30%;
    box-shadow:  20px 20px 60px  rgba(217, 217, 217,1),
                 -20px -20px 60px  rgba(255, 255, 255,1),
                 inset 20px 20px 40px  rgba(217, 217, 217,1),
                 inset -20px -20px 40px  rgba(255, 255, 255,1);
    outline: none;
}

